@model Blog

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form asp-action="AddBlogPost" method="post" asp-controller="Home">




    <div class="form-group">
        <label asp-for="title">Blog Title</label>
        <input class="form-control" asp-for="title" id="title" placeholder="Enter Blog Title">
    </div>

    <div class="form-group">
        <label asp-for="author">Author</label>
        <input class="form-control" asp-for="author" id="author" placeholder="Enter Your Name">
    </div>

    <div class="form-group">
        <label asp-for="content">Blog</label>
        <textarea asp-for="content" class="form-control" id="content" resize="none" rows="10" placeholder="Start Writing..."></textarea>
    </div>

    <button type="submit" id="btn" class="btn btn-primary">Post Blog</button>
</form>


