@model List<MyBlog>

@{
    ViewData["Title"] = "Home Page";
}


<h1>All Blogs</h1>

<div class="container">
        @{var currentIndex = 0; var size = Model.Count; bool done = false;}
@while(currentIndex < size)
{
    <div class="row">

        @for(int i = 0; i < 3 && !done; i++)
        {
            @if (currentIndex >= size)
            {
                done = true;
            }
            else
            {
                <div class="col-sm">
                    <div class="card mt-3" style="width: 18rem;">
                        @{
                            var parms = new Dictionary<string, string>
                            {
                                {"title",Model[currentIndex].Title }
                            };
                        }
                        <div class="card-body">
                            <h5 class="card-title">@Model[currentIndex].Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@DateOnly.FromDateTime(Model[currentIndex].DateCreated)</h6>
                            <h6 class="card-subtitle mb-2 text-muted">@Model[currentIndex].Views views</h6>
                            <p class="card-text">@Model[currentIndex].Content.Substring(0, 75) ... <a asp-controller="Home" asp-action="FullBlog" asp-all-route-data="parms" class="card-link">Read More</a></p>

                        </div>
                    </div>
                </div>
                
                    currentIndex++;
               
            }
        }

    </div>
}

   
</div>