@model List<Blog>

@{
    ViewData["Title"] = "Home Page";
}


<h1>All Blogs</h1>

    @foreach(var blog in Model)
    {
    <div class="card mt-3" style="width: 18rem;">
        @{
            var parms = new Dictionary<string, string>
            {
                {"title",blog.title }
            };
        }
            <div class="card-body">
                    <h5 class="card-title">@blog.title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@blog.dateCreated</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@blog.views views</h6>
            <p class="card-text">@blog.content.Substring(0, 75) ... <a asp-controller="Home" asp-action="FullBlog" asp-all-route-data="parms" class="card-link">Read More</a></p>
                    
            </div>
        </div>
    }


